.bloque-producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    margin: 2rem 0;
}
.bloque-producto h1{
    font-size: 1.5rem;
    font-weight: bold;
}
.contenedor-productos{
    display: flex;
    align-items: center;
    align-self: center;
    gap: 1rem;
}
.contenedor-productos h1{
    margin-bottom: 0;
}
.contenedor-sumas{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.contenedor-sumas h1{
    margin-bottom: 0;
}

.contenedor-pagar-vaciar {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    gap: 3rem;
}