.contador {
    display: flex;
    justify-content: space-around;
    background-color: rgb(79, 192, 172);
    padding: 0.5rem;
    border-radius: 8px;
}
.cantidad {
    font-size: 1.6rem;
    color: black;
    border-style: hidden;
    border-color: #ffe4ec;
}